$primary: #54b391;
$primary-light: #F2F7F8;

// Theme fonts
$font-family-title: 'Inter', sans-serif;
// $font-family-title: Courier New, Consolas, monospace;
$serif: Crimson;
$f-sans-serif: Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
// $f-sans-serif: Crimson,Times New Roman, Georgia, serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';

// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
 
// // Font Variables
// $font-family-title: 'Dancing Script', cursive;  // Title font is now cursive
// $serif: 'Dancing Script', cursive;  // Use cursive for serif as well
// $f-sans-serif: 'Dancing Script', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; // Apply cursive as the first font for sans-serif
 
// // Initialize the Open edX Bootstrap theme
// @import 'edx-bootstrap/sass/open-edx/theme';


// Introducing new variables

$dark: #111827;
$light-dark: #374151;
$big-screen: 1200px;



// Introducing dark-theme variables

// $primary-d: #AEC7F6;
$primary-d: #54b391;
$primary-light-d: #292A2C;
$light-drak-d: #374151;
$text-color-d: #F8F8F8;
$text-color-primary: #DDDFE2;
$border-color-d: #777792;
$light-overlay-d: #36383B;
$danger-d: #FFA07A;
$success-d: #54CF5E;
$btn-color-d: #112F6B;
$body-bg-d:#0D0D0E;

$warning-400: #ffe340;
$page-color-transition: transparent .2s ease, color .2s ease;

// $primary: #002f72;